---
title: Create a test case
slug: create-a-test-run
hidden: true
createdAt: '2023-02-08T03:24:51.276Z'
updatedAt: '2023-02-21T19:51:57.615Z'
---

# Create a test case

\*\*\*What is a test case in software testing? \*\*\*

A test case contains all the details about our test. A title is enough to create a quick test case. For a more detailed test case, you can define prerequisites, steps, expected and actual results, etc.

\##Create Test Case

**Quick test case**

1. On the page, under your test suite click on the link “+ Create quick test”
2. The cursor will start blinking on the page, and you can start typing the title. Click Enter to save the test case. As a result, a new test case under the test suite is shown with ID and a title.

This is the fastest way to add a test case, let’s see how to create a more sophisticated one.

\##Detailed test case \[block:html] { "html": "

1. On the main repository page, click on the button “+ Case”
2. \n
3. As a result, a new page “Create test case” is shown. Let’s fill in the most important fields:
4. \n
5. Title: describes what is being tested by the test case
6. \n
7. Status: denotes the status of the case itself
8. \n
9. Suite: which suite the test case belongs to
10. \n
11. Priority: how important is this test case during test execution?
12. \n
13. Severity: what is the impact on our app’s quality status if this test case fails?
14. \n
15. Is flaky: determines if the test case is flaky
16. \n
17. Automation status: denotes if the test case is automated, to be automated, or not automated
18. \n
19. Pre-conditions: the prerequisites for our test
20. \n
21. Steps to reproduce: list of actions and expected results after each action
22. \n
23. To save a test case click on the button “Save”. As a result, the page “Test repository” is shown with a new test case. Icons with arrows in front show the priority and severity of the test case
24. \n
25. We have added our first test cases, let’s execute them in a new test run

\n \n" } \[/block]
