# Penetration testing report

{% hint style="success" %}
Qase undergoes a penetration testing audit carried out by a third-party agency on an annual basis.
{% endhint %}

The information that is disclosed in the penetration testing report is sensitive, which is why we can only disclose this report after signing a mutual non-disclosure agreement between your company and Qase.

:information\_source:  If your InfoSec team requests such a report as a part of their vendor vetting process, please send a request to [sales@qase.io](mailto:sales@qase.io) to get the mNDA process started for the latest penetration testing report to be provided to you.
